html, body {
    margin: 0; 
    padding: 0;
    background: rgb(0, 0, 0);
    color: #fff;
  
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
  }

.main {
    color: rgb(170, 170, 170);
    background: rgb(0, 0, 0);
    padding-top: 16px;
    padding-left: 20%;
    padding-right: 20%;
}
* {
-webkit-box-sizing: border-box;
        box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 20px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left {
width: 25%;
}

.right {
width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}