doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="css/main.css")
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    h1 Title here test
    h2 Body text here
